.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    /* background: url('https://i.pinimg.com/564x/0e/ba/2d/0eba2d2602fbe253177488744a97b133.jpg');
    background-repeat: no-repeat; */
    /* background-size: cover; */ /* or contain if i want to have image fully shown */
    /* background-position: center; */
}